.view-search {
    height: 134px;
    width: 100%;
    background-color: var(--white-color);
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.view-search__title {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    display: flex;
    align-self: center;
}

.view-search__header {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.view-search__header-block {
    position: relative;
}

.view-search__header-block-input {
    width: 448px;
    height: 48px;
    box-sizing: border-box;
    outline: none;
    border: none;
    background-color: #F9F6F4;
    border-radius: 8px;
    padding: 0 16px;
}

.view-search__header-block-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
