.pack__update {
    position: fixed;
    width: 758px;
    height: 608px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--white-color);
    border-radius: 16px;
    box-sizing: border-box;
    padding:0 32px;
    font-weight: 600;
    color: var(--text-color);
}

.pack__update-title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 24px;
    text-align: center;
}

.pack__update-info {
    margin-top: 26px;
    display: flex;
}

.pack__update-info-item {
    font-size: 16px;
}

.pack__update-info-item input {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 6px;
    outline: none;
    padding: 12px;
    border: 1px solid #A5A8B1;
    border-radius: 8px;
    font-size: 16px;
    
}

.pack__update-info-item:nth-child(1) input{
    width: 80%;
}

.pack__update-info-item:nth-child(1) {
    width: 46%;
}

.pack__update-info-item:nth-child(2) {
    width: 54%;
}

.pack__update-btns {
    display: flex;
    justify-content: center;
}

.pack__update-btns-cancel {
    margin-right: 24px;
}
.pack__update-btns-cancel,
.pack__update-btns-save {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    box-sizing: border-box;
    padding: 0 64px;
    cursor: pointer;
}
